.contentArea{
    display: flex;
    flex-direction: row;
    justify-content: stretch;
}

.previewContainer{

}

.actualEditorArea{
    max-height: unset !important;
}

.columnSeparator{
    width: 1px;
    background: slategray;

    margin: 0px  10px;
}